@media screen and (max-width:1000px) {
   
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav ul{
        margin-left: 0vw;
    }
    .container .slider img{
        width: 60vw;
        height: auto;
    }
}